*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffedd5;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.display{
  display: flex;
  flex-direction: column;
  border: none;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #e0f2fe;
  box-shadow: 3px 3px 10px #cecece;
  border-radius: 2px;
}
.container{
  padding: 20px;
  height: 450px;
  display: grid;
  grid-template-rows: 1fr 0.5fr 1.4fr 1fr;
  background-color: #f97316;
  border: none;
  border-radius: 10px;
}
.input-div{
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  justify-content: space-around;
}
h3{
  justify-self: center;
  align-self: flex-end;
  color: white;
}
h1{
  justify-self: center;
  color: white;
}
button{
  width: 40%;
  margin: 0px auto;
  padding: 10px;
  font-size: 23px;
  border: none;
  background-color: #eab308;
  border-radius: 10px
}
input{
  width: 90%;
  border: none;
  border-bottom: 1px solid;
  background-color: transparent;
  outline: none;
  margin: 0px auto;
  padding: 10px;
}
input::placeholder{
  color: white;
}